.dapp-topbar {
  width: 100%;
  max-width: 1080px;
  align-items: center;
  //margin: auto;

  .dapp-topbar-slider-btn{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;
  }

  .connect-wallet {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 960px) {
  .dapp-topbar{
    .dapp-topbar-slider-btn{
      display: none;
    }
  }
}