.connect-button{
  display: flex;
  align-items: center;

  padding: 5px 16px;
  background: linear-gradient(to left, #EDD185, #E8BD70);
  box-shadow: 0px 0px 5px 1px #ffaa29;
  border: 1px solid #FFAA29;
  border-radius: 100px;
  cursor: pointer;

  .connect-button-progress{
    margin-left: 10px;
    margin-top: 4px;
  }

  p{
    color: #141414;
    font-size: 15px;
    font-weight: 700;
  }
}