.boosted-stake-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-family: Montserrat SemiBold;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
  }
}